<div class="content content-padded">

<h1>Nice transition, eh?</h1>

<p>That was <em>native</em>, not CSS3. Also, the resource-wide layout file is applied in this document, .</p>

<h2>Still alive</h2>

<p>That previous view is still living under this document: you can go back there by tapping the native back button.</p>

<h2>Lessons learned</h2>

<p>So far you have mastered that:</p>

<p><strong>config/application.coffee</strong> configures your project settings.</p>
<p>The <strong>app/</strong> folder has Steroids benefits – it's a good place for your application's views.</p>
<p>The <strong>www/</strong> folder is for your other files.</p>
<p>The <strong>app/</strong> and <strong>www/</strong> folders are brought together as the <strong>dist/</strong> folder.</p>
<p><strong>http://localhost/</strong> serves your project files from <strong>dist/</strong>.</p>

<h2>Next up</h2>

<p>In the next part you learn about controllers:</p>

<p><strong><small>$ steroids generate tutorial controllers</small></strong></p>

<p>Hope to see you there soon!</p>

</div>
