<?xml version='1.0' encoding='utf-8'?>
<widget id="com.appgyver.helloSteroids" version="3.1.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Hello Steroids</name>
    <description>
        A fresh new Steroids application.
    </description>
    <author email="contact@appgyver.com" href="http://www.appgyver.com/steroids">
        AppGyver Steroids Team
    </author>
    <access origin="*" />

    <!--

    The following features are used by Steroids Addons. To learn more, head on over to
      http://www.appgyver.com/steroids/addons/

    <feature name="http://appgyver.com/steroids/addons/facebook">
        <param name="appId" value="123456789012345" />
    </feature>

    <feature name="http://appgyver.com/steroids/addons/geolocation">
        <param name="continuousUpdates" value="true" />
    </feature>

    <feature name="http://appgyver.com/steroids/addons/oauthio">
        <param name="publicKey" value="asdFGH-qweRTY-uioPKL-mnbVCX" />
    </feature>

    -->
</widget>